 
/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  word-wrap: break-word; }

body {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  overflow-x: hidden !important; }

p {
  color: #2e2e2e;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0; }

h1, h2, h3, h4 {
  font-weight: 700; }

h5, h6 {
  font-weight: 600; }

img {
  width: 100%;
  height: auto; }

span, a, a:hover {
  color: inherit;
  display: inline-block;
  text-decoration: none; }

.section-padding {
  padding: 70px 0 40px 0; }

.section-head {
  margin-bottom: 40px; }
  .section-head h6 {
    color: #09744d;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px; }
  .section-head h4 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 15px;
    position: relative; }
    .section-head h4:after {
      background-color: #09744d;
      bottom: 0;
      content: '';
      height: 2px;
      left: calc(50% - 30px);
      position: absolute;
      width: 60px; }
  .section-head p {
    margin: 15px auto 0 auto;
    width: 50%; }

.bg-gray {
  background: #f7f7f7; }

.o-hidden {
  overflow: hidden; }

.position-re {
  position: relative; }

.full-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100% !important; }

.lg-line-height {
  line-height: 1.5; }

.half-content {
  position: relative;
  z-index: 3; }
  .half-content h5, .half-content h6 {
    color: inherit !important; }

.bg-img {
  background-repeat: no-repeat;
  background-size: cover; }

.bg-fixed {
  background-attachment: fixed; }

.pattern {
  background-repeat: repeat;
  background-size: auto; }

.sub-title {
  color: #09744d;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px; }

.bold {
  font-weight: 800; }

.count {
  font-family: 'Dosis', sans-serif; }

#particles-js {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.valign {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }

.v-middle {
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%; }

.owl-theme .owl-nav.disabled + .owl-dots {
  line-height: .7;
  margin-top: 30px; }

.owl-theme .owl-dots .owl-dot span {
  background: #ddd;
  border-radius: 0;
  height: 5px;
  margin: 0 7px;
  width: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #09744d; }

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/
.butn {
  background: #fff;
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  outline: none !important;
  overflow: hidden;
  padding: 12px 30px;
  position: relative;
  transition: all .4s;
  z-index: 3; }
  .butn span {
    position: relative;
    transition-delay: 0s;
    z-index: 2; }
  .butn:before, .butn:after {
    background: #fff;
    content: '';
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    transition: width 0.4s;
    width: 0;
    z-index: 1; }
  .butn:after {
    background: #fff;
    opacity: 1;
    transition-delay: 0s; }
  .butn:hover:before, .butn:hover:after {
    width: 100%; }
  .butn:hover:after {
    transition-delay: .2s; }
  .butn:hover span {
    transition-delay: .2s; }

.butn-bord {
  border-color: #09744d; }
  .butn-bord:before, .butn-bord:after {
    background: #09744d; }
  .butn-bord:hover span {
    color: #fff; }

.butn-bg {
  background: #09744d;
  border-color: #09744d;
  color: #fff; }
  .butn-bg:hover span {
    color: #09744d; }

.butn-light {
  background: #fff; }
  .butn-light:before, .butn-light:after {
    background: #09744d; }
  .butn-light:hover span {
    color: #fff; }
  .butn-light span {
    color: #09744d; }

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/
.navbar {
  background: #fff; 
  min-height: 70px; 
  width: 100%;
  z-index: 9; }
  .navbar .icon-bar {
    color: #323232; }
  .navbar .navbar-nav .nav-link {
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 15px 5px;
    transition: all .4s; }
    .navbar .navbar-nav .nav-link:hover {
      color: #09744d; }
  .navbar .navbar-nav .active {
    color: #09744d !important; }

.nav-scroll {
  background: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  left: 0;
  padding: 0;
  position: fixed;
  top: -100px;
  transform: translateY(100px);
  transition: transform .5s;
  width: 100%; }
  .nav-scroll .icon-bar {
    color: #222; }
  .nav-scroll .navbar-nav .nav-link {
    color: #222; }
  .nav-scroll .navbar-nav .logo {
    padding: 15px 0;
    color: #111; }

.logo {
  padding:   5px;   }
  
  .logo img{max-height:90px; max-width: 70vw; margin-left: -20px;}

/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 04 Start Header ]
-----------------------------------------------------------------*/
.header {
  min-height: auto;
  overflow: hidden; }
  .header .caption .o-hidden {
    display: inline-block; }
  .header .caption h2 {
    font-size: 30px;
    font-weight: 300; }
  .header .caption h4 {
    font-size: 35px;
    animation-delay: .2s;
    font-weight: 300;
    letter-spacing: 4px; }
  .header .caption h1 {
    animation-delay: .6s;
    font-family: inherit;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px 0;
    word-spacing: 2px; }
  .header .caption p {
    animation-delay: 1s;
    color: #eee;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px; }
    .header .caption p span {
      letter-spacing: 5px;
      margin: 0 5px;
      padding-right: 14px;
      position: relative;
      text-transform: uppercase; }
      .header .caption p span:last-child {
        padding: 0; }
        .header .caption p span:last-child:after {
          display: none; }
      .header .caption p span:after {
        background: #09744d;
        border-radius: 50%;
        content: '';
        height: 7px;
        opacity: .5;
        position: absolute;
        right: 0;
        top: 10px;
        width: 7px; }
  .header .caption .butn {
    animation-delay: 1.2s; }
  .header .social a {
    color: #eee;
    font-size: 13px;
    margin: 10px 15px; }

.slider .owl-item, .slider-fade .owl-item {
  height: 550px;
  position: relative; }
.slider .item, .slider-fade .item {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .slider .item .caption, .slider-fade .item .caption {
    z-index: 9; }
.slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
  bottom: 5vh;
  position: absolute;
  width: 100%; }

@media(max-width:767px){
	.slider .owl-item, .slider-fade .owl-item {
  height: 250px;
position: relative; } }

.creative .svg {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  z-index: 2; }
  .creative .svg svg {
    fill: #09744d;
    width: 101%; }

#video-background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9; }

.page-header {
  height: 70vh; }
  .page-header h6 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px; }
    .page-header h6 a:hover {
      color: #09744d; }
    .page-header h6 i {
      font-size: 10px;
      margin: 0 15px; }
  .page-header h1 {
    font-weight: 600;
    margin-bottom: 10px; }

/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 05 Start Hero ]
-----------------------------------------------------------------*/
.call-to-action {
  background-color: #09744d;
  color: #FFF;
  padding: 50px 0; }
  .call-to-action h2 {
    font-size: 2.1em;
    margin-bottom: 0; }
  .call-to-action p {
    color: #FFF;
    font-size: 1.1em; }
  .call-to-action a {
    background-color: #fff;
    border-radius: 0 !important;
    color: #000; }

.hero {
  position: relative; }
  .hero .item {
    -webkit-transition: all .2s linear;
    background-color: #fff;
     
    padding: 30px  ;
    transition: all .2s linear; }
    .hero .item span {
      color: #fff;
      font-family: 'Dosis', sans-serif;
      font-size: 35px;
      font-weight: 500;
      line-height: 66px; }
    .hero .item h6 {
      margin-bottom: 15px; }
    .hero .item .back-circle {
      background-color: #ffffff;
      border-radius: 100px;
      border: 1px solid #ebebeb;
      height: 80px;
      left: 50%;
      margin: 0 auto 0 -37.5px;
      position: absolute;
      text-align: center;
      text-shadow: none;
      top: -41px;
      width: 80px; }
      .hero .item .back-circle .front-circle {
        -webkit-transition: all .2s linear;
        background: #09744d;
        border-radius: 500px;
        height: 66px;
        left: 6px;
        position: absolute;
        top: 6px;
        width: 66px; }
    .hero .item .cont {
      padding-top:  0px; }
  
      .hero .item:hover .more {
        color: #09744d !important;
        padding-left: 10px;
        padding-right: 10px; }
    .hero .item .more {
      border-bottom: 1px solid;
      color: #09744d;
      display: inline-block;
      padding: 5px;
      transition: all .5s; }

/* ----------------------------------------------------------------
     [ End Hero ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 06 Start Video Intro ]
-----------------------------------------------------------------*/
.video-intro h6 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 7px;
  margin-bottom: 15px;
  text-transform: uppercase;
  word-spacing: 2px; }
.video-intro h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px; }
.video-intro .vid {
  margin: 30px 2px 0; }
  .video-intro .vid .butn {
    left: -20px;
    padding-left: 40px;
    position: relative;
    top: 16px;
    z-index: -1; }
.video-intro .vid-butn {
  background: #fff;
  border-radius: 50%;
  color: #09744d;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  margin-right: -20px;
  position: relative;
  width: 60px;
  z-index: 2; }

/* ----------------------------------------------------------------
     [ End Video Intro ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 07 Start Services ]
-----------------------------------------------------------------*/
.services .serv-item {
  border: 1px solid #a1a1a1;
  padding: 20px 40px 30px;
  text-align: center; overflow: hidden;
  transition: all 0.3s ease-in-out; }
  .services .serv-item:hover {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #09744d;
    box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1); }
    .services .serv-item:hover .icon {
      background: #09744d;
      color: #fff; }

 .services .serv-item:hover img{transform: translateY(-10px)  scale(1.05); transition: all 0.3s ease-in;}
 .services .serv-item  img{  transition: all 0.3s ease-in;}

  .services .serv-item .icon {
    border-radius: 50%;
    color: #09744d;
    font-size: 35px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    width: 70px; }
  .services .serv-item h6 {
    font-weight: 500;
    margin-bottom: 20px; }

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 08 Start Works ]
-----------------------------------------------------------------*/
.works .filtering .filter {
  display: inline-block;
  padding: 2px 10px; }
.works .filtering span {
  background: #ebeaef;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  margin: 0 5px;
  padding: 8px 20px;
  transition: all 0.3s ease 0s; }
  .works .filtering span:hover {
    background: #09744d;
    background: linear-gradient(to right, #09744d, #1f6ea9);
    color: #fff; }
.works .filtering .active {
  background: #09744d;
  background: linear-gradient(to right, #09744d, #1f6ea9);
  box-shadow: 0px 8px 30px -5px rgba(0, 0, 0, 0.2);
  color: #fff; }
.works .gallery {
  padding-left: 0;
  padding-right: 0; }
.works .larg-padding {
  padding: 0 15px; }
  .works .larg-padding .item-img {
    border: 10px solid #fff;
    margin-top: 30px; }
.works .no-padding {
  padding: 0; }
  .works .no-padding .item-img {
    margin-top: 0; }
.works .gutter {
  padding: 0 10px; }
  .works .gutter .item-img {
    margin-top: 20px; }
.works .item-img {
  margin-top: 30px;
  position: relative; }
  .works .item-img:hover .item-img-overlay {
    opacity: 1;
    transform: scale(1, 1); }
.works .item-img-overlay {
  background: rgba(4, 149, 214, 0.9);
  border: 15px solid #fff;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: scale(0, 0);
  transition: all .5s; }
  .works .item-img-overlay .icon {
    bottom: 30px;
    color: #eee;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 30px; }
  .works .item-img-overlay p {
    color: #f2f2f2;
    font-weight: 400; }
  .works .item-img-overlay h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px; }

/* ----------------------------------------------------------------
     [ End Works ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 09 Start Numbers ]
-----------------------------------------------------------------*/
.numbers .icon {
  color: #09744d;
  font-size: 45px;
  margin-bottom: 20px; }
.numbers h3 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px; }
.numbers h6 {
  font-weight: 300; }

.states .icon {
  color: #eee;
  font-size: 60px;
  margin-bottom: 10px; }
.states .sub-title {
  color: #09744d; }
.states h5 {
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative; }
  .states h5:after {
    background: #09744d;
    bottom: 0;
    content: '';
    height: 1px;
    left: calc(50% - 50px);
    position: absolute;
    width: 100px; }
  .states h5 b {
    font-weight: 700; }
.states .item h3 {
  margin-bottom: 10px; }
.states .item h6 {
  font-size: 16px;
  font-weight: 400; }

/* ----------------------------------------------------------------
     [ End Numbers ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 10 Start Testimonials ]
-----------------------------------------------------------------*/
.testimonials-grid .item {
  background-color: #fff;
  padding: 50px 30px 60px;
  position: relative;
  z-index: 3; }
  .testimonials-grid .item:after {
    border: 1px solid #eee;
    content: '';
    height: 96%;
    left: 2%;
    position: absolute;
    top: 2%;
    width: 96%;
    z-index: -1; }
  .testimonials-grid .item p {
    border-top: 1px solid #eee;
    padding-bottom: 30px;
    padding-top: 20px;
    position: relative; }
    .testimonials-grid .item p:before {
      background-color: #fff;
      border-right: 1px solid #eee;
      border-top: 1px solid #eee;
      bottom: 166px;
      content: '';
      height: 20px;
      left: 220px;
      position: absolute;
      transform: rotate(-45deg);
      width: 20px; }
  .testimonials-grid .item .rating {
    display: inline-block;
    float: right;
    font-size: 0;
    letter-spacing: 10px;
    line-height: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 116px; }
    .testimonials-grid .item .rating:before {
      color: #09744d;
      content: "\f005\f005\f005\f005\f005";
      font-family: 'FontAwesome',sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px; }
    .testimonials-grid .item .rating.rating-4:before {
      content: "\f005\f005\f005\f005\f123"; }
  .testimonials-grid .item .info {
    display: inline-block;
    margin-bottom: 30px; }
    .testimonials-grid .item .info .img {
      border-radius: 50%;
      border: 2px solid #f6f6f6;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      float: left;
      height: 60px;
      overflow: hidden;
      width: 60px; }
    .testimonials-grid .item .info h6 {
      font-size: 14px;
      margin-left: 80px;
      padding-top: 10px; }
      .testimonials-grid .item .info h6 span {
        color: #999;
        display: block;
        font-size: 12px;
        font-style: italic;
        margin-top: 5px; }

/* ----------------------------------------------------------------
     [ End Testimonials ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 11 Start Team ]
-----------------------------------------------------------------*/
.team .item {
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .team .item:hover .info {
    bottom: 30%; }
    .team .item:hover .info .icon {
      display: inline-block; }
  .team .item:hover .team-img:after {
    height: 100%;
    opacity: .6;
    top: 0;
    visibility: visible; }
  .team .item .team-img {
    overflow: hidden;
    position: relative; }
    .team .item .team-img:after {
      background-color: rgba(0, 0, 0, 0.8);
      background: #09744d;
      border-top: 2px solid #fff;
      content: '';
      height: 25%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 75%;
      transition: all .4s;
      visibility: visible;
      width: 100%; }
  .team .item .info {
    color: #fff;
    bottom: 10px;
    left: 0;
    padding: 0 15px;
    position: absolute;
    transition: all .4s;
    width: 100%;
    z-index: 4; }
    .team .item .info h6 {
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 5px; }
    .team .item .info span {
      font-size: 13px;
      font-style: italic;
      margin-bottom: 10px; }
    .team .item .info .icon {
      color: #eee;
      cursor: pointer;
      display: none;
      font-size: 14px;
      margin: 7px; }

/* ----------------------------------------------------------------
     [ End Team ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 12 Start Price ]
-----------------------------------------------------------------*/
.price .pricing-tables {
  padding: 0 30px; }
  .price .pricing-tables [class*=col-] {
    padding: 0 30px; }
.price .item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
  padding: 30px; }
  .price .item .type {
    margin-bottom: 15px;
    position: relative; }
    .price .item .type h4 {
      color: #555;
      font-size: 18px;
      font-weight: 500; }
  .price .item .value {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px; }
    .price .item .value h3 {
      display: inline-block;
      font-size: 55px;
      font-weight: 600;
      padding-left: 15px;
      position: relative; }
      .price .item .value h3 span {
        font-size: 15px;
        left: 0;
        position: absolute;
        top: 10px; }
    .price .item .value .per {
      font-size: 13px; }
  .price .item .features {
    overflow: hidden;
    padding: 15px;
    text-align: left; }
    .price .item .features ul {
      margin-bottom: 0; }
    .price .item .features li {
      color: #777;
      font-size: 13px;
      margin-bottom: 15px; }
      .price .item .features li:last-child {
        margin-bottom: 0; }
  .price .item .order {
    margin-top: 30px; }
    .price .item .order .butn {
      margin: 0;
      padding: 10px 30px; }
      .price .item .order .butn span {
        font-size: 13px;
        font-weight: 500; }
  .price .item.active {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1); }

/* ----------------------------------------------------------------
     [ End Price ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 13 Start Blog ]
-----------------------------------------------------------------*/
.blog .item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05); }
  .blog .item .post-img {
    padding: 8px;
    position: relative; }
    .blog .item .post-img .img {
      box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.1);
      overflow: hidden; }
    .blog .item .post-img:hover img {
      transform: scale(1.1, 1.1); }
    .blog .item .post-img img {
      transition: all .5s; }
    .blog .item .post-img .tag {
      bottom: 15px;
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      position: absolute; }
      .blog .item .post-img .tag a {
        background-color: #09744d;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        font-size: 12px;
        padding: 8px 12px; }
      .blog .item .post-img .tag .icon {
        font-size: 8px; }
  .blog .item .cont {
    padding: 30px 15px 15px; }
  .blog .item .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px; }
    .blog .item .info a {
      color: #999;
      font-size: 11px;
      font-weight: 600;
      margin-left: 10px;
      margin-right: 10px; }
      .blog .item .info a .author {
        border-radius: 50%;
        height: 20px;
        margin: 0 5px -6px 0;
        overflow: hidden;
        position: relative;
        width: 20px; }
      .blog .item .info a .icon {
        font-size: 12px;
        margin-right: 8px; }
    .blog .item .info .right {
      float: right; }
  .blog .item h6 {
    font-size: 18px;
    margin-bottom: 15px; }

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 14 Start Clients ]
-----------------------------------------------------------------*/
.clients a {
  opacity: .8; }
  .clients a:hover {
    opacity: 1; }

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 15 Start Contact ]
-----------------------------------------------------------------*/
.page-contact {
  position: relative;
  border-bottom: 1px solid #eee; }

.form input, .form textarea {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  width: 100%; }
  .form input:focus, .form textarea:focus {
    border-color: #ddd; }
.form textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%; }
.form .form-group {
  position: relative; }
.form .help-block li {
  color: #ce7373;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  right: 15px;
  top: 15px; }

.page-social {
  text-align: center; }
  .page-social a {
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    margin: 5px;
    padding: 12px 60px;
    transition: all .2s; }
    .page-social a:hover {
      background-color: transparent;
      color: #555; }

.page-map {
  background-color: #f7f7f7; }
  .page-map #ieatmaps {
    height: 400px; }

/* ----------------------------------------------------------------
     [ End Contact ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 16 Start Footer ]
-----------------------------------------------------------------*/
.footer {
  background-color: #171717;
  color: #eee;
  padding: 50px 0 0; }
  .footer .title h5 {
    border-bottom: 1px solid #333;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-transform: uppercase; }
  .footer .info .logo {
    margin-bottom: 10px;
    padding: 0; }
  .footer .info h6 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px; }
    .footer .info h6 i {
      color: #09744d; }
  .footer .info p {
    margin-bottom: 30px; }
  .footer .info span {
    font-size: 11px;
    margin-right: 10px; }
  .footer .info .icon {
    font-size: 11px;
    margin-right: 15px; }
    .footer .info .icon:hover {
      color: #09744d; }
  .footer .footer-widget-list {
    margin: 0; }
    .footer .footer-widget-list li {
      list-style-type: none;
      color: #7f7f7f; margin-left:12px;
      padding: 7px 0; }
      .footer .footer-widget-list li:first-child {
        padding-top: 0; }
      .footer .footer-widget-list li a {
        font-size: 14px;
        font-weight: 400;
        color: #7f7f7f; }
        .footer .footer-widget-list li:before {
          content: '\f105'; position:absolute; margin-left:-12px;
          font-weight: 700;
          vertical-align: bottom;
          font-family: Font Awesome\ 5 Free;
          color: #7f7f7f; 
          -webkit-transition-duration: .3s;
          transition-duration: .3s; }
        .footer .footer-widget-list li a:hover {
          color: #09744d; }
          .footer .footer-widget-list li a:hover:before {
            color: #09744d; }
  .footer .las-post .thum {
    float: left;
    height: 50px;
    overflow: hidden;
    width: 50px; }
  .footer .las-post .cont {
    margin-left: 70px; }
  .footer .las-post h6 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px; }
  .footer .las-post p {
    font-size: 11px; }
    .footer .las-post p span {
      font-weight: bold; }
  .footer .tags span {
    background-color: rgba(255, 255, 255, 0.04);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
    margin-right: 2px;
    padding: 7px 15px;
    text-transform: uppercase; }
    .footer .tags span:hover {
      background-color: #09744d; }
  .footer .sub-footer {
    background-color: #131313;
    margin-top: 50px;
    padding: 20px 0; }

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
   [ 17 Responsive ]
-----------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .mb-md80 {
    margin-bottom: 80px; }

  .mb-md50 {
    margin-bottom: 50px; }

  .mb-md30 {
    margin-bottom: 30px; }

  .mb-md15 {
    margin-bottom: 15px; }

  .mb-md0 {
    margin-bottom: 0; }

  .md-text-center {
    text-align: center !important; }

  .bgimg-height {
    height: 400px; }

  .bg-fixed {
    background-attachment: scroll !important; }

  .navbar .logo {
    margin-left: 15px; }
  .navbar button {
    margin-right: 15px;
    outline: none !important; }
  .navbar .container {
    max-width: 100%; }
  .navbar .navbar-collapse {
    background: #dfdfdf; 
    overflow: auto;
    padding: 10px 30px;
    text-align: left; }
  .navbar .nav-link {
    margin: 10px auto !important; }

 

  .header {
    background-attachment: scroll !important;
    background-position: 50% 0% !important; }
    .header .caption h4 {
      font-size: 30px; }
    .header .caption h1 {
      font-size: 45px;
      line-height: 1.4; }

  .price .pricing-tables {
    padding: 0; }
    .price .pricing-tables .item {
      text-align: center; }
      .price .pricing-tables .item .features {
        text-align: center; } }
@media screen and (max-width: 767px) {
  .mb-sm50 {
    margin-bottom: 50px; }

  .mb-sm30 {
    margin-bottom: 30px; }

  .section-box h3 {
    font-size: 25px;
    line-height: 1.3; }

  .bgimg-height-sm {
    height: 400px; }

  .header .caption h4 {
    font-size: 16px; }
  .header .caption h1 {
    font-size: 22px; }
  .header .caption p {
    font-size: 14px;
    margin-bottom: 15px; }
  .header .caption .butn {
    margin-top: 15px !important; }

  .call-to-action h2 {
    font-size: 18px; }

  .video-intro h2 {
    font-size: 20px; }

  .portfolio .filtering span {
    margin-bottom: 10px; } }
@media screen and (max-width: 480px) {
 
  .section-head p {
    width: 100%; }

  .works .filtering {
    padding: 0; }

  .works .filtering .filter {
    border: 0;
    padding: 0; }

  .works .filtering span {
    margin: 0 0 5px; } }


.topbg{background: url(../img/topbg.jpg) no-repeat; background-attachment: fixed; padding: 50px 30px;
text-align: center; color: #fff; font-size: 48px; font-weight: bold;  }

.product-page {padding:50px 0 }
.product-page table{border:1px solid #c3c3c3;width: 100%; margin : 10px 0 35px 0; } 
.product-page table td{padding:6px; width: auto;border:1px solid #c3c3c3; }
.product-info { }


.pro-sidebar{border: 1px solid #09744d; border-radius: 6px; overflow: hidden;margin:20px 0 0   0}
.pro-sidebar h6{background: #09744d; color: #fff; padding: 7px 15px; font-size: 20px;}

.pro-sidebar ul  {margin:   0}
.pro-sidebar ul li{margin: 5px 0  }
.pro-sidebar   li a {padding: 7px 15px; font-size: 16px; color: #1b1b1b; width: 100%;
border-bottom: 1px solid #c4c4c4;}

.pro-sidebar   li:last-child a {border-bottom: none;}


